<footer class="admin-footer">
    <div class="container">
        <div class="footer-content">
            <div class="copyright">
                &copy; <%= new Date().getFullYear() %> Taraba State Basic Education Certificate Examination Board. All Rights Reserved.
            </div>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Help Center</a>
            </div>
        </div>
    </div>
</footer>
